
body {
   width: 320px;
   height: 597px;
   
}
.perants {
   height: 88px;
   justify-content: space-around;
   align-items: center;
   display: flex;
   padding: 24px 16px 24px;
   box-shadow: 25px 15px 10 10 #B8FFEC;
}
.logo {
   display: inline-block;
}
.shaddow {
   Height: 1px;
   Top: 87px;
   background: #D9FFF5;
   display: inline;
}
.divider {
   display: inline-block;
   width: 2px;
   height: 32px;
   background: #EAEAEA;
   border-radius: 1px;
}
main {
   height: 509px;
   background: #F8F8F8;
}
.dop {
   width: 192px;
   font-size: 16px;
   line-height: 24px;
   color: #7E7E82;
}
.service {
   display: inline-flex;
   flex-wrap: nowrap;
   margin-top: 8px;
   overflow: scroll;
}
button {
   width: 40px;
   height: 40px;
   background: #FF3E79;
   border-radius: 20px;
   border: none;
}
h1 {
   text-align: center;
   font-family: 'TT Lakes';
   font-size: 28px;
   line-height: 40px;
}
.remote {
   background: #FFFFFF;
   border: 2px solid #B8FFEC;
   border-radius: 6px;
   width: 246px;
   height: 40px;
   color: #7E7E82;
   font-size: 16px;
   line-height: 24px;
}
.text {
   width: 288px;
   height: 90px;
   margin: 24px 16px;
   font-size: 14px;
   line-height: 18px;
}
p {
   font-size: 16px;
   line-height: 24px;
}
.expand {
   display: inline-flex;
}
@media (width: 320px){
   body{
      display: flex;
   }
}
body {
   width: 784px;
   height: 604px;
}
.perants {
   display: flex;
   justify-content: space-around;
   margin-right: 15px;
}
h1 {
   font-size: 28px;
   line-height: 40px;
   color: #1B1C21;
   width: 233px;
   height: 40px;
   left: 24px;
   top: 112px;
}
.dop {
   height: 24px;
   left: 36.73%;
   right: 39.67%;
   top: 192px;
   font-size: 16px;
   line-height: 24px;
}
.service {
   width: 769px;
   overflow: none;
}
.price {
   font-size: 16px;
   line-height: 24px;
   color: #7E7E82;
}
.special {
   font-size: 16px;
   line-height: 24px;
   color: #7E7E82;
   margin-left: 10px;
}
@media (width: 768px){
   body{
      display: flex;
   }
}
