*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
body {
  
   
}
.wrapper {
   width: 100%;
   height: 100vh;
   background: #F8F8F8;

}
.perants {
   height: 88px;
   justify-content: space-around;
   align-items: center;
   display: flex;
   padding: 24px 16px 24px;
   box-shadow: 25px 15px 10 10 #B8FFEC;
}
.burger {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color:#FF3E79;
   display: flex;
   align-items:center; 
   justify-content: center;
}
.logo {
   display: inline-block;
}
.shaddow {
   Height: 1px;
   Top: 87px;
   background: #D9FFF5;
   display: inline;
}
.divider {
   display: inline-block;
   width: 2px;
   height: 32px;
   background: #EAEAEA;
   border-radius: 1px;
}
main {
   height: 509px;
   /* background: #F8F8F8; */
}
.dop {
   width: 192px;
   font-size: 16px;
   line-height: 24px;
   color: #7E7E82;
}
.service {
   display: inline-flex;
   flex-wrap: nowrap;
   margin-top: 8px;
   overflow: scroll;
}
h1 {
   text-align: center;
   font-family: 'TT Lakes';
   font-size: 28px;
   line-height: 40px;
}
.remote {
   background: #FFFFFF;
   border: 2px solid #B8FFEC;
   border-radius: 6px;
   width: 246px;
   height: 40px;
   color: #7E7E82;
   font-size: 16px;
   line-height: 24px;
}
.text {
   width: 288px;
   height: 90px;
   margin: 24px 16px;
   font-size: 14px;
   line-height: 18px;
}
p {
   font-size: 16px;
   line-height: 24px;
}
.expand {
   display: inline-flex;
}
@media (width: 320px){
   body{
      display: flex;
   }
}
body {
   min-width: 320px;
}
.perants {
   display: flex;
   justify-content: space-around;
   margin-right: 15px;
}
h1 {
   font-size: 28px;
   line-height: 40px;
   color: #1B1C21;
   /* width: 233px;
   height: 40px;
   left: 24px;
   top: 112px; */
}
.dop {
   height: 24px;
   left: 36.73%;
   right: 39.67%;
   top: 192px;
   font-size: 16px;
   line-height: 24px;
}
.service {
   width: 769px;
   overflow: none;
}
.price {
   font-size: 16px;
   line-height: 24px;
   color: #7E7E82;
}
.special {
   font-size: 16px;
   line-height: 24px;
   color: #7E7E82;
   margin-left: 10px;
}
body {
   display: block;
}
@media (min-width: 768px){ от 768 сработает 
   .header{
     background-color: #FFFFFF;
   }
   .header__inner{
      min-width: 100%;
      display: flex;
      justify-content: space-between;
      background-color:#FFFFFF;
      align-items:center;
      padding: 10px;
   }
   .button__img {
      gap: 40px;
   }
   .burger{
      padding: 24px;
   }
}
.wrap, .test, .test1 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   padding-left: 24px;
}
.list-reset{
   padding: 24px;
}
.wrap{
   width: 100%;
}
.vl{
   border-left: 2px solid #EAEAEA;
    height: 32px;
    top: 87px;
    display: inline;
   }
@media (min-width: 1024px){
.header {
   background-color:#7E7E82;
   }
.burger, .logo, .phone, .mesag, .kent{
   display:none;
} 
h1 {
   margin-top: 42px;
}  
}



   /* body{
      display: grid;
   } 
}
.grid{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax (312px, 1fr));
   margin: 0;
   gap: 48px;
}
h1{
   display: flex;
   justify-content: flex-start;
}
.burger, .logo, .divider, .phone, .message, .kent {
    display: none;
}
.grid, .expand {
   display: flex;
   flex-direction: row;
}
.path_text {
   order: -1;
  
}
.search {
   order: 2; */
}
/* .expand>img{
   width: 24px;
   height: 24px; */
/* } */
h1 {
   align-content:flex-start;
   order: -2;
   /* margin-right: 95px; */
}
.perants {
   display: none;
}
nav {
   display: flex;
   padding-top: 42px;
}
.path_text{
  width: 125px;
  height: 24px;
  padding-top: 10px;
}
.search_text{
   width: 125px;
   height: 24px;
   padding-top: 10px;
}
.list-reset {
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
   list-style: none;
}
.button-group {
   display: flex;
   gap: 16px;
}
.button {
   display: flex;
   align-items:center;
   border: none;
   background: transparent;
   padding: 0;

}
.button__text{
   margin-right: 12px;
   font-size: 16px;
   line-height: 24px;
}
.button__img{
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color:#FF3E79;
   display: flex;
   align-items:center; 
   justify-content: center;
}
.line{
   display: flex;
   justify-content: flex-end;
   background-color: #F8F8F8;
}
.expand {
   display: flex;
}
.expand_img {
   width: 8px;
   height: 10px;
   /* margin-right: 16px; */
}
.img_main {
   width: 531px;
   height: 307px;
}
.nav__list {
   display: flex;
   list-style: none;
   padding: 0;
   overflow: auto;
   align-items:baseline;
}
.nav__item {
   padding: 5px;
   margin-right: 5px;
}
.nav__link {
   text-decoration: none;
   color:#7E7E82;
   font-size: 16px;
   line-height: 24px;
   padding: 8px 16px; 
   white-space: nowrap;
}

.nav__link--active {
   border: 1px solid 
   #B8FFEC;
   padding: 7px 15px; 
}
header{
   display: flex;
   align-items:baseline;
   justify-content: space-between;
}
.reviews {
   padding-left: 32px;
   color: #7E7E82;
   font-size: 16px;
}
.expand_text {
   padding-left: 8px;
   text-decoration: none;
}
@media (min-width: 768px){ 
   .about{
      flex: 0 0 50%;
      max-width: 50%;
   }
   .about__img {
      flex: 0 0 50%;
      max-width: 50%;
   }
}
.about {
   display: flex;
}
.about__inner{
   padding: 5px 36px;
   color: #1B1C21;
   min-width: 490px;
   min-height: 160px;
}
.nav__link--disable {
   display: none;
}
.about__img {
   min-width: 531px;
   min-height: 383px;
}
.about__expand {
   background: transparent;
   border: none;
}
